<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>World of Warcraft</title>
        <link rel="stylesheet" href="../css/style2.css">
    <style>
                
    </style>
</head>
<body>
   <div id="warcraft">

        <div id="top">
            <h1>Мир Варкрафта</h1>
            
                              

                    <div class="try1">
                        <img src="../images/map.jpg" alt="map"> 
                        <span class="one"> Мир Варкрафта</span>
                    </div>

        </div>                    <a href="../index.html#">Вернуться назад</a>


            <div id="horde">
                    <h2>Орда</h2>
                       
                    <div class="try2">
                        <img src="../images/orda.jpg" alt="horde">
                        <span class="two">Орда</span>
                    </div>
                
                        <div>
                                    <h3>Эльфы крови (Blood Elves)</h3>
                                    <div class="try2">
                                        <img src="../images/Blood.jpg" alt="blood elves">
                                        <span class="two">Эльфы крови</span>

                                    </div>
                        </div>                        
                                     <a href="../index.html#horde">Назад</a>

            </div>

            <div id="alliance">
                    <h2>Альянс</h2>
                       
                    <div class="try">
                        <img src="../images/alliance.jpg" alt="alliance">
                        <span>Альянс</span>

                    </div>
                <div>
                                <h3>Ночные Эльфы</h3>
                                    

                    <div> 
                                    <h4> Друид</h4>
                                    <div class="try">
                                        <img src="../images/owl.jpeg" alt="owl">
                                        <span>Сова</span>

                                    </div>
                                    <div class="try5">
                                        <img src="../images/restor.jpg" alt="restor">
                                        <span>Рестор</span>


                                    </div>
                    </div>
                    <div>
                                    <h4>Воин</h4>
                                    <div class="try">
                                        <img src="../images/warrior.jpg" alt="warrior">
                                        <span>Воин</span>

                                    </div>
                    </div>
                                    
                </div>
                <div>
                                <h3>Дренеи</h3>
                                    
                     <div> 
                                        <h4>Шаман</h4>
                                        <div class="try3">
                                            <img src="../images/sham.jpg" alt="shaman">
                                            <span class="three">Шаман</span>

                                        </div>
                     </div>
                      <div>
                                        <h4>Жрец</h4>
                                        <div class="try3">
                                            <img src="../images/priest.jpg" alt="priest">
                                            <span class="three">Жрец</span>

                                        </div>
                     </div>
                     <div> 
                                        <h4>Паладин</h4>
                                        <div class="try4">
                                            <img src="../images/pal.jpg" alt="paladin">
                                            <span class="three">Паладин</span>

                                        </div>
                      </div>

                      <a href="../index.html#alliance">Назад к описанию</a>
            </div>

                </div>
  
  
    
</div>
   <div class="menu">
    <p><a href="photos.html#">Карта</a></p>
    <p><a href="photos.html#alliance">Альянс</a></p>
    <p><a href="photos.html#horde">Орда</a></p>


     </div>
</body>
</html>
